<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h2>즐겨찾기 목록</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>이름</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>유튜브</td>
                    <td>https://youtube.com</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>인스타그램</td>
                    <td>https://instagram.com</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>